# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Environnements virtuels
venv/
env/
.venv/
.virtualenv/

# =========================
# Environnement & secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE / Éditeurs
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# SQLAlchemy
# =========================
*.db
*.sqlite3

# =========================
# Tests / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
